
@media (max-width: 1024px) {
  .dashboard-grid {
    grid-template-columns: 250px minmax(0, 1fr);
  }
}

@media (max-width: 760px) {
  .task-panel.show {
    display: block;
  }

  .close-button{
    display: block;
  }

  .brand strong {
    font-size: .9rem;
  }
  .brand span{
    font-size: .6rem;
  }
  .dashboard-hero h1, .dashboard-hero p{
    font-size: 1.3rem;
    text-align: center;
  }
  .dashboard-hero p{
    margin-top: 0.5rem;
    font-size: .8rem;
  }
  .auth-section{
    min-height: calc(100vh - 120px);
  }
  
  .auth-card,
  .task-panel,
  .task-list-panel {
    padding: 1rem;
    min-width: 360px;
  }

  .task-panel{
    display: none;
  }
  .area-filter {
    max-width: 260px;
  }

  body {
    padding: 0;
  }

  .dashboard-grid {
    display:flex;
    flex-direction: column;
    height: 100%; 
  }
  
  .area-filter {
    max-width: 150px;
  }

  .tab{
    font-size: .8rem;
  }
  
  .task-actions {
    justify-content: flex-end;
  }

  .menu-mobile {
    
    display: flex;
    position: fixed;
    align-items: center;   
    justify-content: space-around;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }

  .navigator {
    margin: 0 auto;   
  }

  .navigator ul {   
    
    display: flex;
    align-items: center;
    margin:5px;
    gap: 5rem;
    list-style: none;
    padding: 0;
    
  }
  #userNameDisplay, #logoutButton{
   
    margin-block-start: 0;
    margin-bottom: 5px;
    
  }

  .navigator li {
    margin: 0;
    list-style: none;
  }
  .navigator a {
    text-decoration: none;
    color: var(--text);
    font-weight: 900;
    transition: all 150ms ease;
    font-size: 1.3rem;
  }

  .navigator a:hover {
    color: var(--primary);
    transform: translateY(-1.5px);
  }

  .navigator .plus {
    font-size: 1.8rem;
    color: rgb(2, 205, 2);  
  }
  .status-summary {   
    grid-template-columns: repeat(4, minmax(70px, 1fr));
  }
    }

@media (max-width: 480px) {
  
    .dashboard-hero h1, .dashboard-hero p{
      font-size: 1rem;
      text-align: center;
    }
    .dashboard-hero p{
      margin-top: 0.5rem;
      font-size: .7rem;
    }

  span.summary-title {
    font-size: 0.5rem;
  }

  .tab{
    font-size: 0.6rem;
  }
  #userNameDisplay, #logoutButton{
    font-size: 0.8rem;
  }
  
}